.container {
    display: flex;
    width: 1440px;
    padding: 16px 32px;
    justify-content: flex-start;
    align-items: self-start;
    gap: 20px;
    align-self: stretch;

  }
  
  .header {
    align-items: flex-start;
    margin-top: 10px;
  }
  
  .header p {
    font-size: 10px;
    color: white;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .dropdown-title {
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    margin-left: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    border-radius: 5px;
    padding: 0;
  }
  
  .dropdown-content li {
    list-style: none;
    padding: 10px 15px;
    color: #333;
  }
  
  .dropdown-content li:hover {
    background-color: #eee;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .nav-item {
    /* padding: 10px 15px; */
    border-radius: 5px;
    color: white;
    margin-right: 10px;
  }